@using Amourss.Models.DBModels
@model List<Cause>
@{
    ViewBag.Title = "AboutUs";
}
<div id="main">

    @*<div class="breadcrumb-section" style="background-image:url(../wp-content/uploads/2015/04/breadcrumb-bg.jpg)">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1>Our Story</h1>
                    <ol class="breadcrumb"><li><a href="http://theemon.com/c/charity-wp/LivePreview/MultipleCauses">Home</a></li>  <li class="active">Our Story</li></ol>
                </div>
            </div>
        </div>
    </div>*@
    <!--Breadcrumb Section End Here-->
    <div class="content-wrapper" id="page-info">
        <div class="container">
            <!-- Our Story Section Start Here -->
            <section class="our-story row">
                <div class="col-xs-12">
                    <header class="story-heading section-header">
                        <h2> AMOUR- JUST LOVE , NOT SYMPATHY <strong class="border-none"> WHAT WE ACTUALLY DO?</strong></h2>
                    </header>
                    <div class="row">

                        <div class="col-xs-12 col-sm-12">
                            <header class="story-heading">
                                <h3> <strong class="border-none">IDEOLOGY OF AMOUR FOUNDATION</strong></h3>
                            </header>
                            <strong class="article-sammury">
                                In this subject Amour Foundation will do its character as a rehabilitation expert agency in Pakistan for any rehabilitation related activity from any local, government and international level.
                                <br>
                                <br>
                                This institute can be an R & D center with its publications, demonstration, exhibitions and dialogues for development and uplift of rehabilitation services. This will be a pilot project for extension and replication in same/other areas with same or innovative inputs in Pakistan and other countries.
                                <br>
                                <br>
                                Improvement through better and quality results by conducting seminar, information programs, training workshop among the neglected areas of the sector. For the subject an endowment fund can be created by the support of related stakeholders, business community, midwives social and medical activists, technicians, nurses, doctors and local/multinational companies have social responsibility fund for this subject. This platform will invite medicine companies and medical industry related stakeholders for investment in profitable projects related to medical sciences.
                                <br>
                                <br>
                                To work in cooperation with other societies of the like nature working towards such an ends as are aforesaid objectives of the society.
                                <br>
                                <br>
                                To arrange, participate in workshops, seminars and exhibitions at national and international levels. To arrange meetings/ negotiations/partnerships with international donors/ experts to initiate projects and train the local organizations in all related fields and sector. To reorganize, revamp, restore, manage and up-grade any institution which the Government may transfer to our organization. To receive and accept grants, aids, credit lines (without any hidden agenda) and donations and rise, establish and maintain funds by subscription and contribution for the welfare and betterment of the community by government institutions, universities, local donor/funding persons/agencies and international donor/funding organizations and persons.
                            </strong>
                        </div>

                        <div class="col-xs-12 col-sm-12">
                            <header class="story-heading">
                                <h3> <strong class="border-none">VISION</strong></h3>
                            </header>
                            <strong class="article-sammury">
                                Those persons with disabilities are an integral part of a society with rights to have and enjoy all material and intellectual facilities available to all other members of the society. It is the responsibility of the society itself to create, arrange and provide for all necessary means and resources to make this integration comprehensive and practical.

                            </strong>
                        </div>


                        <div class="col-xs-12 col-sm-12">
                            <header class="story-heading">
                                <h3> <strong class="border-none">MISSION</strong></h3>
                            </header>
                            <strong class="article-sammury">
                                To provide and promote rehabilitation services to the people with disabilities, particularly in remote villages, city slums and sub-urban, where these services are hardly available and least accessible. The means employed are community oriented, awareness creation, advocacy, networking, training and all such other activities that can be conductive to integration of the disabled/ the handicapped into the mainstream society.

                            </strong>
                        </div>

                        <div class="col-xs-12 col-sm-12">
                            <header class="story-heading">
                                <h3> <strong class="border-none">OBJECTIVES OF THE FOUNDATION</strong></h3>
                            </header>
                            <div class="article-sammury">
                                <ul>

                                    <li>Provision of Artificial Limbs, Brasses and other support for disabled persons so that they should become a part of the society enjoying normal life.</li>
                                    <li>
                                        Provision to make the disabled mobilize.  To provide the ramps on all buildings, special foot paths on road side, special washrooms on all service areas of motorways and highways.
                                    </li>
                                    <li>
                                        Vocational training of girls/women with disabilities in various skills (tailoring, embroidery, cosmetic make up, Computer learning, etc).
                                    </li>
                                    <li>
                                        Provision of low-cost, affordable and easy accessible means and services to physically disabled/ handicapped.
                                    </li>
                                    <li>
                                        Provision of wheel chairs, Hearing aid and other necessary equipment for disabled persons.
                                    </li>
                                    <li>
                                        To make financial contribution or provide equipment assistance (as and when available) to the physically disabled for any feasible business activity by them and/ or for using their acquired skills to earn their living.
                                    </li>
                                    <li>
                                        Production / dissemination of disabilities related literature, holding of seminars and adoption of such other means for the promotion of general public awareness about disabilities, precautions and preventive measures.
                                    </li>
                                    <li>
                                        To arrange training program and workshop for capacity building of CBO's of remote areas to help & support disabled persons.
                                    </li>
                                    <li>
                                        Training in treatment of physical disabilities and manufacture of prosthetic/ orthopedic appliances.
                                    </li>
                                    <li>
                                        To create awareness, publish Literature and Organize Seminars on disabled children Health, Education and Human rights.
                                    </li>
                                    <li>Empowerment of Disabled Girls through skill training enabling them to earn for themselves & family.</li>

                                </ul>
                            </div>
                        </div>


                        <div class="col-xs-12 col-sm-12">
                            <header class="story-heading">
                                <h3> <strong class="border-none"> AREAS OF SERVICES</strong></h3>
                            </header>
                            <div class="article-sammury">
                                <ul>
                                    <li>
                                        Rehabilitation of disabled persons
                                    </li>
                                    <li>
                                        Easy and Safe Mobilization of the disabled persons
                                    </li>
                                    <li>
                                        Free Skills Training
                                    </li>
                                    <li>
                                        Entrepreneurship Development Program
                                    </li>
                                    <li>
                                        Financial Assistance the poor families
                                    </li>
                                </ul>

                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-12">
                            <header class="story-heading">
                                <h3> <strong class="border-none">CHARTER OF AMOUR FOUNDATION FOR SOCIETY </strong></h3>
                            </header>
                            <div class="article-sammury">
                                <ul>
                                    <li>
                                        Rehabilitation Centre for the handicapped
                                    </li>
                                    <li>
                                        Free Medical Camps
                                    </li>
                                    <li>
                                        Free skills Center
                                    </li>
                                    <li>
                                        Health Education
                                    </li>
                                    <li>
                                        Social Education
                                    </li>
                                    <li>
                                        Seminars on rehabilitation of disabled
                                    </li>
                                    <li>
                                        Financial assistance to widows and deserving people
                                    </li>
                                    <li>
                                        Advocacy
                                    </li>
                                    <li>
                                        Right to equal participation
                                    </li>
                                    <li>
                                        Right to economic uplift
                                    </li>
                                    <li>
                                        Right to freedom of expression and information
                                    </li>
                                    <li>
                                        Right to relief and recovery in Emergencies
                                    </li>


                                </ul>

                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-12">
                            <header class="story-heading">
                                <h3> <strong class="border-none">CURRENT ACTIVE PROGRAMS</strong></h3>
                            </header>
                            <div class="article-sammury">
                                <h3>Rehabilitation</h3>
                                Amour Foundation for the rehabilitation of the Handicapped is engaged in providing free lodging, boarding, physiotherapy, education, pre-occupational training and medical-care to poor & needy handicapped, especially the polio victims in its effort to rehabilitate them and facilitate them to lead a respectable life.

                                <h3>Free Skilled Training Centre</h3>
                                Disabled people especially girls are the poorest of the poor in every country of the world. In order to economically empower disabled girls (hearing impaired & physically handicapped), The Foundation has established a skill development center in Lahore City to provide professional care and training to polish the potential of disabled persons so that they could become earning hands of the society and lead a reasonable and responsible life.

                                To promote opportunities for women and men, including those with disabilities to obtain decent and productive work, Amour Foundation Free Training Center is providing training in different skills to females under supervision of a qualified female trainer. We have so far trained more than 50 disabled girls. Out of them, majority have started their own small business or working at homes earning reasonable income for their families.

                                <h3>Entrepreneurship Development Program</h3>

                                After providing the skills Amour helps such special persons for the entrepreneurship development.  Amour gives them financial support for the development of their small businesses and make them enable enough to their kitchen smoothly and respectfully.

                                <h3>Financial Assistance to Poor Families</h3>
                                On 2nd of every month, The Foundation distributes food stuff to among 100 poor households. Each package of food contains one month living substance for 6-7 household members.
                                The President has promised to distribute the sewing machines among poor women. They play their role in family empowerment and reducing the poverty and hunger".

                                <h3>Free Medical Camps</h3>
                                Amour is facilitating the Free Medical Camps with the help of Qualified Doctors in the different areas near the deserving community at Grass Root Level.

                            </div>
                        </div>


                    </div>
                </div>
            </section>
            <!-- Our Story Section Start Here -->
            <!-- What We Do Section Start Here-->
            <section class="our-works row anim-section animate">
                <div class="col-xs-12">
                    <header class="work-block-heading section-header">
                        <h2>What we do? <strong>See Our Works</strong></h2>
                    </header>




                    <div class="row">
                        @foreach (var element in Model.Where(x=>x.Featured == 1))
                        {
                    <div class="post-169 charity-our-works type-charity-our-works status-publish has-post-thumbnail hentry col-xs-12 col-sm-6 col-md-4">
                        <div class="thumbnail zoom">

                            <a href="#/" class="img-thumb">
                                <figure>
                                    <img src="@(string.IsNullOrWhiteSpace(element.ImagePath) ? "" : Url.Content(element.ImagePath))" class="attachment-charity_our_work wp-post-image" alt="blog-pic" width="263" height="175">
                                </figure>
                            </a>
                            <h3>@element.Title</h3>
                            <p>
                                @element.Description<a class="more-link btn btn-default" role="button" href="../charity-our-works/personal-funds/index.html">READ MORE</a>
                            </p>
                        </div>
                    </div>
                        }

                    </div>
                </div>
            </section>
            <!-- What We Do Section Start Here-->
        </div>
        <!-- Helping Section Start here-->
        @*<section class="helping-child parallax" style="background-image: url(&quot;../wp-content/uploads/2015/04/parallax-banner-02-600x479.jpg&quot;); background-position: center -0.8px;">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-7 col-md-5">
                        <h2 class="h1"> Helping child in <strong>Africa</strong> </h2>
                        <p>orem ipsum dolor sit amet consectetur adipiscing elit ellentesque egestas nisl at dui tempus uis imperdiet purus fringilla. consectetur adipiscing elit tempus.</p>
                        <a data-toggle="modal" href="javascript:;" data-id="301" data-target=".donate-form" class="btn btn-default charity-global-causes-301 charity-donation-button">DONATE NOW</a>

                    </div>
                </div>
            </div>
        </section>*@
        <!-- Helping Section Start here-->
        <!-- Our Team Section Start Here -->
        <div class="container">
            <div class="our-team text-center row">
                <div class="col-xs-12">
                    <header class="team-info section-header">
                        <h2>We are Real. <strong class="border-none">Meet the Team</strong></h2>
                    </header>
                    <div class="row">
                        <div class="col-xs-12 col-sm-3 anim-section animate">
                            <div class="thumbnail">
                                <figure>
                                    <img src="@Url.Content("~/Images/AboutUs/rizwan.hashmi.jpg")" alt="admin">
                                </figure>
                                <div class="caption">
                                    <h3>RIZWAN HASHMI</h3>
                                    <h6>Managing Director</h6>
                                    @*<p>HASHMI ASSOCIATES</p>
                                    <p>Corporate & Social Business Consultants</p>*@

                                    <p>
                                        Being a Social Sector Consultant; I am serving the several social organizations at National level but I had to stop at Amour.
                                        Amour is a paradigm shift in the field of Disability.   This is the organization which came in to existence by feeling the basic needs of the PWDs.  The slogan of Amour “Just Love not Sympathy” is providing the self respect and makes these people able with their abilities not disable with the disabilities. I salute to the courage and vision of Mrs. Laila Tul Qadar and wish her all the best for achieving her goals.
                                    </p>
                                    <ul class="social-icons">
                                        <li class="social-facebook"><a href="http://facebook.com/" target="blank"><i class="fa fa-facebook"></i></a></li>
                                        <li class="social-twitter"><a href="http://twitter.com/" target="blank"><i class="fa fa-twitter"></i></a></li>
                                        <li class="social-pinterest"><a href="http://pinterest.com/" target="blank"><i class="fa fa-pinterest"></i></a></li>
                                        <li class="social-google"><a href="#" target="blank"><i class="fa fa-google"></i></a></li>
                                        <li class="social-dribbble"><a href="http://dribbble.com/" target="blank"><i class="fa fa-dribbble"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-3 anim-section animate">
                            <div class="thumbnail">
                                <figure>
                                    <img src="@Url.Content("~/Images/AboutUs/SUGHRA.SADAF.jpg")" alt="Tony Vedvik">
                                </figure>
                                <div class="caption">
                                    <h3>DR. SUGHRA SADAF </h3>
                                    <h6>Director General</h6>
                                    <p> I found the Amour Foundation one of the best social services providing NGO in the field of Disability.  The work of Amour is highly appreciable that they may the disable people independent and empowering them socially and economically.  All of my best wishes are with Amour Foundation and my special love to the greatness of Laila Tul Qadar.</p>
                                    <ul class="social-icons">
                                        <li class="social-facebook"><a href="http://facebook.com/" target="blank"><i class="fa fa-facebook"></i></a></li>
                                        <li class="social-twitter"><a href="http://twitter.com/" target="blank"><i class="fa fa-twitter"></i></a></li>
                                        <li class="social-pinterest"><a href="http://pinterest.com/" target="blank"><i class="fa fa-pinterest"></i></a></li>
                                        <li class="social-google"><a href="#" target="blank"><i class="fa fa-google"></i></a></li>
                                        <li class="social-dribbble"><a href="http://dribbble.com/" target="blank"><i class="fa fa-dribbble"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-3 anim-section animate">
                            <div class="thumbnail">
                                <figure>


                                    <img src="@Url.Content("~/Images/AboutUs/AMMAR.HUSSAIN.JAFFRI.jpg")" alt="John Doe">
                                </figure>
                                <div class="caption">
                                    <h3>AMMAR HUSSAIN JAFFRI</h3>
                                    <h6>Chairman E-Pakisatan</h6>
                                    <p>We are working on E-PWD which aims to Empower PWDs through Latest Technologies.  We stand with Amour as Team in this Noble Cause.</p>
                                    <ul class="social-icons">
                                        <li class="social-facebook"><a href="http://facebook.com/" target="blank"><i class="fa fa-facebook"></i></a></li>
                                        <li class="social-twitter"><a href="http://twitter.com/" target="blank"><i class="fa fa-twitter"></i></a></li>
                                        <li class="social-pinterest"><a href="http://pinterest.com/" target="blank"><i class="fa fa-pinterest"></i></a></li>
                                        <li class="social-google"><a href="#" target="blank"><i class="fa fa-google"></i></a></li>
                                        <li class="social-dribbble"><a href="http://dribbble.com/" target="blank"><i class="fa fa-dribbble"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-3 anim-section animate">
                            <div class="thumbnail">
                                <figure>
                                    <img src="@Url.Content("~/Images/AboutUs/SIBTAIN.RAZA.LODHI.jpg")" alt="Bryant Cranford">
                                </figure>
                                <div class="caption">
                                    <h3>SIBTAIN RAZA LODHI</h3>
                                    <h6>Assistant Director PR</h6>
                                    <p>I attended the orientation seminar of Amour Foundation at Marriott Hotel Islamabad.  Amour is really working in a unique way to empower the PWDs.  I appreciate their efforts and stand with Amour where ever my services are needed.</p>
                                    <ul class="social-icons">
                                        <li class="social-facebook"><a href="http://facebook.com/" target="blank"><i class="fa fa-facebook"></i></a></li>
                                        <li class="social-twitter"><a href="http://twitter.com/" target="blank"><i class="fa fa-twitter"></i></a></li>
                                        <li class="social-pinterest"><a href="http://pinterest.com/" target="blank"><i class="fa fa-pinterest"></i></a></li>
                                        <li class="social-google"><a href="#" target="blank"><i class="fa fa-google"></i></a></li>
                                        <li class="social-dribbble"><a href="http://dribbble.com/" target="blank"><i class="fa fa-dribbble"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- Our Team Section Start Here -->
    </div>
</div>