
@{
    ViewBag.Title = "Project";
}
@*<div class="breadcrumb-section" style="background-image: url(@Url.Content("~/Images/Missions/med2.jpg"))">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Shop</h1>

                <nav  class="woocommerce-breadcrumb"><a href="http://theemon.com/c/charity-wp/LivePreview/MultipleCauses">Home</a>&nbsp;/&nbsp;Shop</nav>
            </div>
        </div>
    </div>
</div>*@
<div class="content-wrapper" id="page-info">

    <div id="page-info" class="container mission-page">

        <a href="#/" class="img-thumb">
            <figure>

                <img src="@Url.Content("~/Images/Missions/med1.jpg")" class="attachment-charity_our_work wp-post-image" style="width:100%" alt="blog-pic">
            </figure>
        </a>
        <h3>Free Medical Camp</h3>
        <p>
            Amour (NGO) organised one day free medical camp for the patients of Tuberculosis (TB), Hepatitis, and diabetic at Punjab small industry housing society DHA Lahore on Thursday morning. The camp inaugrated by president Amour “Laila Tul Qaddar”  different specialist doctors Dr Munir Ghori (general physician) Govt shdra hospital, Dr Waqar, and Dr Ali (orthopedic surgeon) from Hameed Latif and shalamar hospital and their para medic staffs treated hundreds of patients according to theirs doctors prescription.
        </p>


        <a href="#/" class="img-thumb">
            <figure>

                <img src="@Url.Content("~/Images/Missions/med2.jpg")" class="attachment-charity_our_work wp-post-image" style="width:100%" alt="blog-pic">
            </figure>
        </a>
        <h3>Free Check Up</h3>
        <p>
            Mrs. Maryam marketing head Amour invited the doctors. Its a great effort of Amour team for the poor people they don,t afford the costly medical tests, all medical services provided them free of cost. The patients were very glad to have medical camp in their area.
        </p>


        <a href="#/" class="img-thumb">
            <figure>

                <img src="@Url.Content("~/Images/Missions/med3.jpg")" class="attachment-charity_our_work wp-post-image" style="width:100%" alt="blog-pic">
            </figure>
        </a>
        <h3>Disease Diagnoses and Free Medical Test</h3>
        <p>
            Amour (NGO) organised one day free medical camp for the patients of Tuberculosis (TB), Hepatitis, and diabetic at Punjab small industry housing society DHA Lahore on Thursday morning. The camp inaugrated by president Amour “Laila Tul Qaddar”  different specialist doctors Dr Munir Ghori (general physician) Govt shdra hospital, Dr Waqar, and Dr Ali (orthopedic surgeon) from Hameed Latif and shalamar hospital and their para medic staffs treated hundreds of patients according to theirs doctors prescription.
        </p>


        <a href="#/" class="img-thumb">
            <figure>
                <img src="@Url.Content("~/Images/Missions/med4.jpg")" class="attachment-charity_our_work wp-post-image" style="width:100%" alt="blog-pic">
            </figure>
        </a>
        <h3>Disease Diagnose</h3>
        <p>
            General Physicians, TB Diagnostics and some Dental Doctors were also available to check up the patients and give them proper treatment.
        </p>

    </div>


</div>